@font-face {
  font-family: "Brush Up Too";
  src: url("../fonts/subset-BrushUpToo.woff2") format("woff2"), url("../fonts/subset-BrushUpToo.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/subset-CooperHewitt-Bold.woff2") format("woff2"), url("../fonts/subset-CooperHewitt-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cooper Hewitt";
  src: url("../fonts/subset-CooperHewitt-Thin.woff2") format("woff2"), url("../fonts/subset-CooperHewitt-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
.grid {
  display: grid;
  list-style: none;
}

.grid__item {
  display: block;
  position: relative;
}

.p-05 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.cp-05 > * {
  padding: 0.5rem;
}

.cp-1 > * {
  padding: 1rem;
}

.cp-2 > * {
  padding: 2rem;
}

.cp-3 > * {
  padding: 3rem;
}

.cpl-1 > * {
  padding-left: 1rem;
}

.cpl-2 > * {
  padding-left: 2rem;
}

.cpl-3 > * {
  padding-left: 3rem;
}

.cpr-1 > * {
  padding-right: 1rem;
}

.cpr-2 > * {
  padding-right: 2rem;
}

.cpr-3 > * {
  padding-right: 3rem;
}

.cpt-1 > * {
  padding-top: 1rem;
}

.cpt-2 > * {
  padding-top: 2rem;
}

.cpt-3 > * {
  padding-top: 3rem;
}

.cpb-1 > * {
  padding-bottom: 1rem;
}

.cpb-2 > * {
  padding-bottom: 2rem;
}

.cpb-3 > * {
  padding-bottom: 3rem;
}

.m-05 {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.pl-1 {
  padding-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.cm-05 > * {
  margin: 0.5rem;
}

.cm-1 > * {
  margin: 1rem;
}

.cm-2 > * {
  margin: 2rem;
}

.cm-3 > * {
  margin: 3rem;
}

@media only screen and (min-width: 993px) {
  .xlp-0 {
    padding: 0;
  }

  .xlm-0 {
    margin: 0;
  }

  .xl-t-center {
    text-align: center;
  }

  .xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .xl-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .xl-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .xl-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .xl-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .xl-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .xl-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .container-xl {
    width: 70vw;
    max-width: 1200px;
    margin: auto;
  }
}
@media only screen and (max-width: 992px) {
  .lg-t-center {
    text-align: center;
  }

  .lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .container-lg {
    max-width: 80vw;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  .md-t-center {
    text-align: center;
  }

  .md-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .md-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .md-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .md-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .md-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .md-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .md-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .md-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .md-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .md-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .container-md {
    max-width: 80vw;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  .sm-t-center {
    text-align: center;
  }

  .sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }

  .sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  .sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }

  .sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }

  .sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }

  .sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }

  .container-md {
    max-width: 80vw;
    margin: auto;
  }
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: #2a2926 url("../img/bg.jpg") center top/cover no-repeat;
  overflow-x: hidden;
  font-family: "cooper hewitt";
  color: #F2ECE3;
  padding-bottom: 10rem;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
}

h3 {
  font-size: 24px;
  font-size: 1.5rem;
}

p {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 100;
}

a {
  color: inherit;
}

i {
  background: rgba(0, 0, 0, 0.7);
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  margin-top: 0.1rem;
  line-height: 1rem;
  display: inline-block;
  transform: skew(-10deg, 0deg);
}

svg {
  max-width: 100%;
  max-height: 100%;
}

img {
  max-width: 100%;
  object-fit: cover;
  image-rendering: crisp-edges;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

@keyframes buzz {
  10%, 90% {
    transform: scale(0.97);
  }
  20%, 80% {
    transform: scale(1);
  }
  30%, 50%, 70% {
    transform: scale(0.93);
  }
  40%, 60% {
    transform: scale(1.03);
  }
}
@keyframes lineshake {
  10%, 90% {
    transform: translate3d(-2px, 0, 3px) rotate(0deg);
  }
  20%, 80% {
    transform: translate3d(3px, 2px, 0) rotate(5deg);
  }
  30%, 50%, 70% {
    transform: translate3d(-5px, 1px, 0) rotate(2deg);
  }
  40%, 60% {
    transform: translate3d(5px, 0, 2px) rotate(1deg);
  }
}
@keyframes lineshakecolor {
  10%, 90% {
    transform: translate3d(-2px, 0, 3px) rotate(0deg);
  }
  20%, 80% {
    transform: translate3d(3px, 2px, 0) rotate(5deg);
  }
  30%, 50%, 70% {
    transform: translate3d(-5px, 1px, 0) rotate(2deg);
  }
  40%, 60% {
    transform: translate3d(5px, 0, 2px) rotate(1deg);
    background-image: url("../img/rough-line-colored-2.svg");
  }
}
.navmenu {
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  list-style: none;
  width: 100vw;
  display: grid;
  perspective: 100vw;
  font-family: "brush up too";
  grid-template-areas: "logo about bikes contact";
  /* &__logo::before {
      content:"";
      width: 2000px;
      height: 10rem;
      position: absolute;
      top: -1rem;
      left: -2000px;
      z-index: -2;
      display: block;
      background-position: 20% center;
      background-size: 60%;
      background-repeat: no-repeat;
      background-image: url("../img/rough-line.svg");
      @include transition(left .2s ease);
      pointer-events: none;
  }
  &__logo:hover:before {
      left: -1000px;
      @include transition(left .2s ease);
      animation: lineshake .1s ease infinite;
  } */
}
.navmenu__logo {
  grid-area: logo;
}
.navmenu__logo img {
  height: 6rem;
}
.navmenu__about {
  grid-area: about;
}
.navmenu__bikes {
  grid-area: bikes;
}
.navmenu__contact {
  grid-area: contact;
}
.navmenu__item:last-child {
  padding-right: 2rem;
}
.navmenu__item {
  text-decoration: none;
  height: 6rem;
  display: block;
  line-height: 6rem;
  padding: 1rem;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  transform-origin: center;
}
.navmenu__item:hover {
  font-family: "brush up too";
  letter-spacing: 0.1rem;
  font-style: normal;
}
.navmenu__item:not(.navmenu__logo) img {
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: -0.2rem;
}
.navmenu__item:not(.navmenu__logo):hover span {
  transform: scale(1.1);
  display: inline-block;
  transform-origin: center;
  animation: buzz 0.5s ease infinite;
}
.navmenu__item:not(.navmenu__logo)::before {
  content: "";
  width: calc(184px/2);
  height: calc(21px/2);
  position: absolute;
  top: 60%;
  left: -5rem;
  margin: auto;
  display: block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
}
.navmenu__contact:not(.navmenu__logo)::before {
  background: url("../img/rough-line-colored.svg") center center/cover no-repeat;
}
.navmenu__item:not(.navmenu__logo):hover:before {
  opacity: 1;
  left: 0;
  right: 0;
  transform-origin: center;
  background-image: url("../img/rough-line-colored.svg");
  animation: lineshakecolor 0.3s ease infinite;
}
.navmenu__logo {
  position: relative;
  z-index: 1;
}
.navmenu__logo img {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  transform-origin: top left;
}
.navmenu__logo:hover img {
  transform: scale(1.2);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.navmenu__logo span {
  width: 100%;
  height: 10rem;
  transform: scale(0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 2vw;
  top: 0;
  position: absolute;
  background: url("../img/logobg.svg") center center/contain no-repeat;
  z-index: -1;
}
.navmenu__logo:hover span {
  transform: scale(1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation: buzz 0.3s ease infinite 0.2s;
}

.container {
  margin: auto;
}
@media only screen and (min-width: 993px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 80vw;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 80vw;
  }
}
.stylish {
  font-family: "brush up too";
  letter-spacing: 0.2rem;
}

.orange {
  color: #FF4800;
}

.dirt {
  color: #F4E598;
}

.pattern {
  background: url("../img/pattern.svg") center center/100px repeat;
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.t-center {
  text-align: center;
  padding: 2rem;
}

.t-shadow {
  text-shadow: 0px 3px 0px #2a2926;
}

.responsive {
  width: 100%;
  height: 100%;
}

.hasimgbg {
  z-index: 1;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
}

.dark-grad::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.6068802521) 36%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.6068802521) 36%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6068802521) 36%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  z-index: -1;
}

.dirt .outline, .dirt.outline {
  -webkit-text-stroke-color: #F4E598;
}

.orange .outline, .orange.outline {
  -webkit-text-stroke-color: #FF4800;
}

.outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F2ECE3;
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

.hoverpop:hover {
  box-shadow: 0px 0px 15px #F4E598;
  z-index: 3;
}

.btn {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  color: black;
  font-style: italic;
  transform: skew(-15deg, 0) rotate(-5deg);
  font-weight: bold;
  letter-spacing: 0.03rem;
  border-radius: 0.2rem;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #F4E598;
  border: 0.5px solid #F4E598;
  box-shadow: 3px 3px 0px #F4E598;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn::after {
  content: " *";
}

.btn:hover {
  animation: buzz 0.5s ease infinite;
}

.btn--orange {
  color: #FF4800;
  border: 1px solid #FF4800;
  box-shadow: 3px 3px 0px #FF4800;
}

.btn--orange {
  color: #F4E598;
  border: 1px solid #F4E598;
  box-shadow: 3px 3px 0px #F4E598;
}

/*# sourceMappingURL=main.css.map */
