@font-face {
    font-family: 'Brush Up Too';
    src: url('../fonts/subset-BrushUpToo.woff2') format('woff2'),
        url('../fonts/subset-BrushUpToo.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../fonts/subset-CooperHewitt-Bold.woff2') format('woff2'),
        url('../fonts/subset-CooperHewitt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('../fonts/subset-CooperHewitt-Thin.woff2') format('woff2'),
        url('../fonts/subset-CooperHewitt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

